body {
    margin: 0%;
    height: 100%;
    overflow: hidden;
}
.bg-image {
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: blur(20px);   
     
}
h1 {
    
}

.total-income-expenses {
    display: inline-block;
    position: absolute;
    left: 41%;;
}