body {
    /* margin: 0%;
    height: 100%; */
    /* overflow: hidden; */
}
.main-background {
    
    background-color: #77acf1;
}

.bg-image {
    /* background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: blur(20px);         */
    
}

table, td {
    border: 2px solid;
}

.total-income-expenses {
    height: 250px;
    width: 200px;
    display: block;
    margin: 0 auto; 
    
}

.total-budget {
    display: inline-block;
    
    left: 41%;;
}

.income-label {
    background-color: green;
    width: 300px;
    height: 20px;
    display: block;
    
}

.income-label-data {
    background-color: green;
    display: inline;
    text-align: right;
    position: relative;
    left: 200px;
}

.expenses-label {
    background-color: red;
    width: 300px;
    height: 20px;
    display: block;
}
.expenses-label-data{
    background-color: red;
    display: inline;
    text-align: right;
    position: relative;
    left: 192px; 
}

.plus-minus {
    display: block;
    margin: 0 auto;
    width: 500px;
}

/* .main-buttons {
    background-color: red;
    display: block;
    position: absolute;
    width: 800px;
    height: 100px;
    top: 50%;
}*/